
/* Home CSS */


body {
    background-color: rgb(172, 81, 81);
}

.mainBody {
    width: auto;
    margin-right: 25px;
}

.all {
width: auto;
height: auto;
/* margin-right:
margin-left: */

}




.dogLoveJumbo {
background-size: cover;

background-image: linear-gradient(yellow, rgb(255, 136, 0));
text-align: center;
font-family: 'Gayathri', sans-serif;
border-left: solid white;
border-right: solid white;
border-bottom: solid white;




}

.dogTitle {

    color: blueviolet;
}

.linksCSS {
    margin-left: 1000px;
    
}


/* Location CSS */


/* Schdeule CSS */